@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

:root {
  --paradise-pink: #ee4266ff;
  --russian-violet: #2a1e5cff;
  --rich-black-fogra-39: #0a0f0dff;
  --silver-sand: #c4cbcaff;
  --tiffany-blue: #3cbbb1ff;
  --primary-font: 'Nunito', sans-serif;
}
